<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Sport Form</title>
    </head>
    <body>

            <form action="#" th:action="@{saveSport}" th:object="${sport}" method="post">

                <input type="hidden" th:value="${sport.id}" name="id" />
                <input type="hidden" th:field="*{city}" name="city" />
                <div>
                    <label>Name:</label>
                        <input type="text"  th:field="*{name}"/>
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</span>
                </div>

                <div>
                    <label>Start date: <input type="date" th:field="*{start_date}"/></label>

                </div>

                <div>
                    <label>Start date: <input type="date" th:field="*{stop_date}"/></label>
                </div>

                <div>
                    <label>Price: <input type="text" th:field="*{price}"/></label>

                </div>

                <div>
                    <p><input type="submit" value="Save"></p>
                </div>
            </form>

    </body>
</html>